{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{WebLogoName.web_name}} - {{ object.work_name }} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <!-- Update these with your own fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    <div class="logo">
        <a href="../">
        <img src="../media/images/{{WebLogoName.web_logo}}" alt="">
        </a>
    </div>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
            <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
            <li class="nav__item"><a href="#story" class="nav__link">My Story</a></li>
            {% if user.is_authenticated %}
            <li class="nav__item"><a href="{%  url 'logout'  %}" class="nav__link">Logout</a></li>    
            {% else %}
            <li class="nav__item"><a href="{%  url 'login'  %}" class="nav__link">Login</a></li>              
            {% endif %}
            
          </li>
        </ul>
    </nav>
</header>



<section class="intro" id="home">
    <h1 class="section__title section__title--intro">
       {{ object.work_name }} <strong>{{object.work_sub_title_black}}</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">{{object.work_sub_title}}</p>
    <img src="/media/images/{{object.work_index_photo}}" alt="" class="intro__img">
    {% comment %} <img src="/media/images/{{result.work_fotograf}}" alt="{{result.work_isim}}" class="portfolio__img"> {% endcomment %}
</section>


<div class="portfolio-item-individual">
    <p>{{ object.work_content|safe }} </p>
    
    <img src="/media/images/{{object.work_article_photo}}" alt="" id="detail-image" class="portfolio-item-individual">
    

{% if user.is_authenticated %}
    <div style="margin-right: 45%; margin-left: 45%;">
    <a href="{% url 'update-worksection' object.pk %}" class="btn-red">EDIT</a>
    </div>
    
{% endif %}
    

    

</div>






<!-- Footer -->
<footer class="footer">

    <a href="mailto:{{FooterSection.footer_email}}" class="footer__link">{{FooterSection.footer_email}}</a>
    <ul class="social-list">
        <li class="social-list__item">
            <a class="social-list__link" href="{{FooterSection.footer_linked}}">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="{{FooterSection.footer_github}}">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="{{FooterSection.footer_instagram}}">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="{{FooterSection.footer_facebook}}">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
    </ul>
</footer>


<script src="{% static 'js/index.js' %}"></script>

</body>
</html>
