{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{context2.web_name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <!-- Update these with your own fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    

</head>
<body>
<header>
    <div class="logo" style="z-index: -1;position: absolute;">
        <a href="/">
        <img src="media/images/{{context2.web_logo}}" alt="">
        
        {% if user.is_authenticated %}
        <a href="{% url 'update-weblogoname' 1 %}" class="button__edit">EDIT</a>
        {% endif %}
            
        
        </a>
    </div>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
            <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
            <li class="nav__item"><a href="#story" class="nav__link">My Story</a></li>
            {% if user.is_authenticated %}
            <li class="nav__item"><a href="{%  url 'logout'  %}" class="nav__link">Logout</a></li>    
            {% else %}
            <li class="nav__item"><a href="{%  url 'login'  %}" class="nav__link">Login</a></li>              
            {% endif %}
            
          </li>
        </ul>
    </nav>
</header>

  

<!-- Introduction -->
<section class="intro" id="home">
    
    <h1 class="section__title section__title--intro">
        Hi, I am <strong> 

        

        <h1>  {{context2.cv_name_surname}}  </h1>
        
        

    
        
        </strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">{{context2.cv_job}}</p>
    <img src="media/images/{{context2.cv_photo}}" alt="a picture of Omer Mert KAYA smiling" class="intro__img">
    <br>
    <br>
    <br>
    <div class="about-me-button" style="position: absolute;;top:10%; left:0; bottom: 0;right: 50%;">
        
        {% if user.is_authenticated %}
        <a href="{% url 'update-homesection' 1 %}" class="button__edit">EDIT</a>
        {% endif %}
            
        
        
    </div>
</section>


<!-- My services -->
<section class="my-services" id="services" style="position: relative;">
    <div class="about-me-button" style="position: absolute;;top:0; left:0; bottom: 0;right: 50%;">
        
        {% if user.is_authenticated %}
        <a href="{% url 'update-myservicessection' 1 %}" class="button__edit">EDIT</a>
        {% endif %}
            
        
    </div>
    
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
        <div class="service">
            <h3>{{context2.title_1}}</h3>
            <p>{{context2.content_1|safe}}</p>
        </div> <!-- / service -->

        <div class="service">
            <h3>{{context2.title_2}}</h3>
            <p>{{context2.content_2|safe}}</p>
        </div> <!-- / service -->

        <div class="service">
            <h3>{{context2.title_3}}</h3>
            <p>{{context2.content_3|safe}}</p>
        </div> <!-- / service -->
    </div> <!-- / services -->

    <a href="#work" class="btn">My Work</a>
</section>



<!-- About me -->
<section class="about-me" id="about" style="position: relative;">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about">{{context2.who_title}}</p>

    <div class="about-me__body">
        <p>{{context2.who_content|safe}}</p>
        <p></p>
    </div>

    <img src="media/images/{{context2.who_photo}}" alt="{{context2.who_title}}" class="about-me__img">
    
    <div class="about-me-button" style="position: absolute;;top:0; left:0; bottom: 0;right: 50%;">
        
        {% if user.is_authenticated %}
        <a href="{% url 'update-aboutmesection' 1 %}" class="button__edit">EDIT</a>
        {% endif %}
            
        
    </div>

</section>



<!-- My Work -->
<section class="my-work" id="work">
    <h2 class="section__title section__title--work">Work</h2>
    <p class="section__subtitle section__subtitle--work">A selection of my range of work</p>

        <div class="portfolio"> 
            
            
                    

    <div class="portfolio"> 
            
            {% for post in post_liste %}
            <a href="{% url 'article-detail' post.pk %}" class="portfolio__item" >      
            <img src="/media/images/{{post.work_index_photo}}" alt="{{post.work_title}}" class="portfolio__img">
                </a>     
            {% endfor %} 
          

    </div>
        
            

        </div>

    </div>


    


</section>

<!-- My Story  -->

<section class="story" id="story" style="position:relative;">
    <div class="about-me-button" style="position: absolute;;top:0; left:0; bottom: 0;right: 50%;">
        
        {% if user.is_authenticated  %}
        <a href="{% url 'update-storysection' 1 %}" class="button__edit">EDIT</a>
        {% endif %}
            
        
    </div>


    <h2 class="section__title section__title--story">This is My Story</h2>
    <p class="section__subtitle section__subtitle--story">{{context2.story_title}}</p>

    <div class="story__body">
        <p>{{context2.story_content|safe}}</p>

    </div>

   <img src="media/images/{{context2.story_photo}}" alt="" class="story__img">

  
</section>


<!-- Footer -->
<footer class="footer">
    
    {% if user.is_authenticated %}
    <a href="{% url 'update-footersection' 1 %}" class="button__edit">EDIT</a>
    {% endif %}
        
    
    <br>
    <a href="mailto:{{context2.footer_email}}" class="footer__link">{{context2.footer_email}}</a>
    <ul class="social-list">
        <li class="social-list__item">
            <a class="social-list__link" href="{{context2.footer_linked}}">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="{{context2.footer_github}}">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="{{context2.footer_instagram}}">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="social-list__item">
            <a class="social-list__link" href="{{context2.footer_facebook}}">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
    </ul>
</footer>

<br>



        <script src={% static 'js/index.js' %}></script>
    

</body>


</html>
